* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #ff8c42;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'Comic Sans MS', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.letter {
    text-align: center;
    width: 120px;
}

.letter img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter p {
    font-size: 1.2rem;
    color: #ff8c42;
    margin-top: 10px;
}

/* Pie de página */
footer {
    background-color: #ff8c42;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}