#titulo{
    color: blue;
}
.especial{
    color: #eaee0ffb;
}
.verd{
    color: #28e70f;
}
#adicional{
    color: #c7c947;
}
#amarillo{
    color: #d30707;
}
#titulo2{
    color: #3306fa;
}
#especial2{
    color: #ed16f5;
}
#subtitulo{
    color: #0509df;
}
#pop{
    color: #1d9c0c;
}