#titulo{
    color: blue;
}
.especial{
    color: #000000fb;
}
.verd{
    color: #e70f0f;
}
#adicional{
    color: blue;
}
#amarillo{
    color: #07bbd3;
}
#titulo2{
    color: red;
}
#especial2{
    color: #f51616;
}
#subtitulo{
    color: #0509df;
}
#pop{
    color: #1d9c0c;
}